/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.login-usuario{
  margin-top: 200px;
  margin-bottom: 10px;
  background-color:aliceblue;
}

body, html {
  height: 100%;
  margin: 0;
}

.fundo-home{
  /* width: 100vw;*/
  margin-top: -56px;
  height: 100vh;
  /* height: 100%; */
  /* z-index: -1; */
  /* background-size: 100vh; */
  overflow-y: hidden;
  /* height: Dimensions.get('window').height; */
  background-position: center center;
  background-size: cover;
  overflow: hidden;
  background: url('assets/home.jpg'), no-repeat;
}

.saldos-home{
  padding: 5px;
}

.texto-saldos-home{
  font-size: 17px;
}
